<h1>Help</h1>
<p>
   Get help on the Republican Party Nomination creteria at the
   <a href="https://www.gop.com/platform/">Republican Platform Section</a>.
   To get help on this republican app, see the
   <a href="https://www.gop.com/2016-gophq/"><em>GOP HQ 2016</em> page</a>.
</p>












